.QuoteAdd {
    width: 80%;
    margin: auto;
}
.QuoteAdd input, .QuoteAdd textarea {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.QuoteAdd textarea {
    height: 200px;
}

.QuoteAdd button {
    font-family: inherit;
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
}
