.App-nav{
    text-align: center;
}
.App-nav li {
    display: inline-block;
    list-style: none;
    margin: 10px;
    padding: 0;
}
.App-nav a {
    text-decoration: none;
    color: black;
}
.App-nav a.active {
    color: orangered;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px solid orangered;
}